<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="/new" method="post">
        <div class="container-class">
            <h2>User or Invalid password</h2>
            
            <p> <a href="/">login Again <a href="#">Try another help</a></a></p>
        </div>
    </form>
</body>
</html>