<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="/Signup" method="post">
        <div class="container-class">
            <h2>    Signup</h2>
            <label for="name"><input type="text" name="name" placeholder="Enter the name please" required></label>
              
            <label for="password"><input type="password" name="password" placeholder=" password required to login" required></label>
            <button type="submit">Signup</button>
            <p>Already  have account <a href="/">Login here</a></p>
        </div>
    </form>
</body>
</html>